@import "colors";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 18px;
  font-display: swap;
  line-height: 1.7;
}

body {
  color: $darker-grey;
  background: $lightest-grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::selection {
  color: white;
  background: $primary;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px $grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-darker;
}

h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  padding-bottom: 0.25em;
  color: $primary;
}

.hide-overflow {
  overflow: hidden;
}

.btn {
  text-align: center;
  padding: 0.5rem 1rem;
  border: 2px solid $primary-darker;
  color: $primary-darker;
  text-decoration: none;
  background: transparent;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  cursor: pointer;
}

.btn--primary {
  color: $lightest-grey;
  background: $primary-darker;
}

.btn--hover:hover {
  color: $lightest-grey;
  background: $primary-darker;
  transition: all 0.1s linear;
}

.center {
  text-align: center;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#about,
#skills,
#work,
#contact,
#blog {
  padding: 3rem 1rem;
}
