@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800|PT+Serif&display=swap");

$primary: #ff9800;
$secondary: #f1f1f1;
$accent: #c47a0b;

// global
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 18px;
  font-display: swap;
}

body {
  color: #222222;
  background: $secondary;
  font-family: "PT serif", Georgia, serif;
}

.button {
  font-family: "Montserrat", sans-serif;
  background: transparent;
  color: $primary;
  border: 3px solid $primary;
  border-radius: 3px;
  display: block;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 8rem;
  outline: none;
  margin: auto;
  text-decoration: none;
}

.button-full {
  width: 100%;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #9b5f06;
  text-decoration: none;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    left: 0;
    background-color: $primary;
    transition: all 0.3s linear 0s;
    opacity: 0.5;
  }
  &:hover:before {
    height: 100%;
  }
}

// header
header {
  position: absolute;
  right: 4%;
  top: 3%;
  z-index: 1;
  a {
    padding: 4px 8px;
    margin: 0 8px;
  }
}

// main
#main {
  display: flex;
  position: relative;
  height: 100vh;

  .name {
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
}

#first-name {
  color: $secondary;
  background-color: $primary;
  flex-basis: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h2 {
    transform: translate(5px, 0px);
    margin: 0;
  }
}

#last-name {
  height: 100vh;
  color: $primary;
  background-color: $secondary;
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h2 {
    transform: translate(-1px, 0px);
    margin: 0;
  }
}

.scroller-container {
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
  color: $accent;
  opacity: 67%;
  h3 {
    font-size: 2rem;
  }
}

/* wrapper class */
.wrapper {
  max-width: 1000px;
  margin: auto;
}

#about,
#skills,
#work,
#contact {
  padding: 16px;
  margin-top: 32px;
}

.title-heading {
  color: $primary;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.info {
  text-align: center;
  margin: 8px auto;
  line-height: 1.6;
  max-width: 800px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container > div {
  display: flex;
  flex-direction: column;
}

/* work */
.project-container {
  display: flex;
  flex-wrap: wrap;
}

/* card */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  max-width: 400px;
  min-width: 300px;
  padding: 16px;
  background: white;
  box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.1);
  transform: translate(80px, 0px);
  p {
    margin-right: 32px;
  }
}

.card-container img {
  max-height: 400px;
  max-width: 500px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 850px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    min-height: 300px;
    transform: translate(0px, 100px);
  }

  .card-container img {
    z-index: 1;
    max-width: 500px;
    display: block;
    height: auto;
  }

  .card p {
    margin-right: initial;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    min-height: 300px;
    transform: translate(0, 80px);
  }
}

@media only screen and (max-height: 500px) {
  .scroller-container {
    bottom: 15%;
  }
  .card-container img {
    z-index: 1;
    max-width: 100%;
    display: block;
    height: auto;
  }
}
@media only screen and (max-width: 500px) {
  .card-container img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .card {
    min-height: 300px;
    transform: translate(0, 40px);
  }
  .vertical-image {
    transform: translate(0px, -80px);
  }
}

/* mobile */
@media only screen and (max-width: 800px) {
  #main {
    flex-direction: column;
  }

  #first-name {
    align-items: flex-end;
    justify-content: center;
    h2 {
      transform: translateY(14px);
    }
  }

  #last-name {
    align-items: flex-start;
    justify-content: center;
    h2 {
      transform: translateY(-15px);
      z-index: 1;
    }
  }

  .scroller-container h3 {
    color: $primary;
  }

  .scroller-container {
    bottom: 10%;
  }

  header .link {
    color: #444444;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > div {
    margin-bottom: 32px;
    text-align: center;
  }

  .container h3 {
    margin-bottom: 16px;
  }
}
