@import "colors";

footer {
  text-align: center;
  font-family: "Open Sans";
  color: $grey;
}

.social a {
  color: $primary;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-info {
  p {
    font-size: 0.8rem;
    margin: 8px;
  }
}
