@import "../styles/colors";

.footer {
  padding: 3rem 1rem;
  color: $light-grey;
  background: $darkest-grey;
  text-align: center;
}

.footer a {
  color: $primary-lighter;
}

.footer__network {
  z-index: 1000;
  padding-bottom: 2rem;
}

.footer__network a {
  margin: 0.5rem;
  text-transform: capitalize;
}

.footer__copyright {
  margin: 8px;
}

.footer__end {
  font-size: 0.8rem;
}
