@import "../styles/colors";

.main {
  align-items: center;
  background: $secondary;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main__first--name {
  color: $white;
  font-size: 4.5rem;
  margin: 0;
}

.main__last--name {
  color: $primary-accent;
  font-size: 4.5rem;
  margin: 0;
}

.main__role {
  margin: 0;
  font-size: 2rem;
  color: $white;
}

@media (max-width: 700px) {
  .main__first--name {
    display: block;
    transform: translateY(14px);
  }

  .main__last--name {
    display: block;
    transform: translateY(-13px);
    z-index: 1;
  }
}

@media (max-width: 440px) {
  .main__first--name,
  .main__last--name {
    font-size: 4rem;
  }

  .main__role {
    font-size: 1.7rem;
  }
}
