@import "../styles/colors";

#nav-mobile,
#nav-desktop {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  z-index: 10;

  a:hover {
    color: $primary-lighter;
  }
}

#nav-mobile {
  display: none;
}

#hamburger {
  display: none;
}

#nav-desktop {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  a {
    padding: 4px 8px;
    margin: 0 8px;
    color: $light-grey;
  }
}

@media only screen and (max-width: 700px) {
  #nav-desktop {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #nav-mobile {
    background: $darkest-grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateX(-100vw);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100vw;
    a {
      color: $primary-lighter;
      display: block;
      font-size: 1.5rem;
      margin: 0.5rem;
      padding: 0.5rem 1rem;
    }
  }

  .tap {
    transform: translateX(0px) !important;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

// hamburger menu
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#hamburger {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 25px;
}

.hamburger {
  margin: 0 auto;
  margin-top: 30px;
  width: 30px;
  height: 30px;
  position: relative;
}

.hamburger .bar {
  background-color: $lightest-grey;
  border-radius: 4px;

  display: block;
  height: 4px;
  padding: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 30px;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px;
}

.checkbox1:checked + label > .hamburger > .bar2 {
  transform: translateX(-25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar3 {
  transform: translateX(25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}
