@import "../styles/colors";

.work__container {
  max-width: 1000px;
  margin: auto;
}

.card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.card__box {
  max-width: 400px;
  min-width: 300px;
  padding: 16px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  border-top: 4px solid $primary-darker;
}

.card__text {
  margin: 0 1rem 1rem 0;
}

.card__picture {
  transform: translate(-60px, 5px);
  z-index: 1;
}

.card__picture img {
  max-height: 400px;
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.more__projects {
  text-align: center;
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .card {
    flex-direction: column;
  }

  .card__box {
    min-height: 300px;
  }

  .card__picture {
    transform: translate(0, -60px);
  }

  .card__picture img {
    z-index: 1;
    max-width: 500px;
    display: block;
    height: auto;
  }

  .card-picture--vertical {
    transform: translate(0px, -60px);
  }
}

@media only screen and (max-width: 580px) {
  .card__picture img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .card__picture {
    transform: translate(0, -40px);
  }
}
