.skills__list {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list__img {
  width: 80px;
  max-height: 100px;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.8;
  margin: 2rem;
  transition: all 300ms ease;
}

.skills__list__img:hover,
.skills__list__img:active {
  filter: grayscale(0);
  opacity: 1;
}

@media (max-width: 500px) {
  .skills__list__img {
    width: 64px;
    filter: grayscale(0);
    opacity: 1;
    margin: 1.2rem;
  }
}
